html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
}

table,
td,
th {
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  border-style: solid;
}
tr:nth-child(odd) {
  background: rgb(241, 241, 241);
}

tr:nth-child(odd) > td {
  background: rgb(241, 241, 241);
}

blockquote {
  border: solid rgb(221, 221, 221);
  border-width: 0 0 0 2px;
  font-style: italic;
  margin-left: 30px;
  padding-left: 30px;
}

blockquote p:last-child {
  font-style: italic;
  text-align: right;
}

blockquote p:last-child:before {
  display: inline-block;
  padding-right: 0.5em;
}
