html,
body {
  height: 100%;
}

body {
  background: rgb(238, 238, 238);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  background: rgb(255, 255, 255);
  border-radius: 0.5em;
  box-shadow: 10px 10px 5px grey;
}
