.comments-profile-wrapper {
  width: 420px;
  //min-height: 200px;
  max-height: calc(100vh - 56px - 16px - 150px - 16px - 16px);
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: 16px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
  -moz-box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
  box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
  background-color: var(--dark);

  .profile-no-comments {
    text-align: center;
    color: var(--light);
    font-size: 16px;
    font-weight: bold;
    height: calc(200px - 13px - 40px);
    svg {
      width: 74px;
      height: 74px;
      color: var(--light);
      margin-top: calc((200px - 13px - 40px - 93px) / 2);
    }
  }

  .comments-wrapper {
    margin-right: 4px;
    overflow-y: scroll;
    padding-right: 7px;
    margin-left: 15px;
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: var(--scroll1);
      }
    }

    .comment {
      position: relative;
      margin-top: 3px;
      margin-bottom: 3px;
      .comment-status {
        margin-left: 50px;
        margin-top: 3px;
        font-size: 12px;
        color: var(--light);
        .ratio {
          display: inline-block;
          svg {
            width: 12px;
            height: 12px;
            margin-bottom: 1px;
          }
          .likes {
            cursor: pointer;
            display: inline-block;
            &:hover {
              color: var(--link1);
            }
            &.active {
              color: var(--link2);
              text-shadow: 1px 1px 1px var(--darker);
              cursor: default;
            }
          }
          .dislikes {
            margin-left: 4px;
            cursor: pointer;
            display: inline-block;
            &:hover {
              color: var(--error);
            }
            &.active {
              color: var(--error2);
              text-shadow: 1px 1px 1px var(--darker);
              cursor: default;
            }
          }
        }
      }
      .comment-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
      }
      .comment-content {
        position: relative;
        margin-left: 8px;
        vertical-align: top;
        display: inline-block;
        background-color: var(--medium);
        //min-width: 100px;
        max-width: 320px;
        border-radius: 16px;
        font-size: 15px;
        padding: 8px 12px;
        resize: none;
        outline: none;
        user-select: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        color: var(--lightest);
        font-size: 15px;
        .comment-delete-wrap {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 0;
          pointer-events: none;
          .comment-delete {
            pointer-events: all;
            position: absolute;
            top: -10.5px;
            right: -10.5px;
            width: 21px;
            height: 21px;
            background-color: var(--medium2);
            color: var(--dark);
            border-radius: 50%;
            cursor: pointer;
            &:hover {
              color: var(--error);
              background-color: var(--light);
            }
            svg {
              width: 13px;
              height: 13px;
              margin-bottom: 1px;
              margin-left: 4px;
            }
          }
        }
        .author-info {
          .comment-author {
            display: inline-block;
            color: var(--lightest);
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
          .author-type {
            width: 13px;
            height: 13px;
            margin-left: 6px;
            margin-bottom: -2px;
            color: var(--darker);
          }
          .author-rating {
            display: inline-block;
            &.voted {
              svg {
                color: var(--link1);
              }
            }
            svg {
              color: var(--light);
              width: 13px;
              height: 13px;
              margin-bottom: -2px;
            }
          }
          .author-location {
            display: inline-block;
            font-size: 13px;
            svg {
              width: 13px;
              height: 13px;
              margin-bottom: 1px;
            }
          }
        }
      }
    }

    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background-color: var(--dark);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      //background-color: var(--link1);
      background-color: transparent;
      &:hover {
        background-color: var(--scroll2);
      }
    }
  }

  .bottom-hr {
    height: 1px;
    width: 394px;
    background-color: var(--medium2);
    margin-left: 13px;
    margin-bottom: 12px;
    border-radius: 0.5px;
  }

  .comment-content-wrap {
    //background-color: red;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 1;
    //border-bottom: 1px solid var(--medium2);
    background-color: var(--darker);
    -webkit-box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
    -moz-box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
    box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
    .comment-avatar {
      width: 32px;
      height: 32px;
      margin-top: 1px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: top;
    }
    .comment-area-wrap {
      display: inline-block;
      //background-color: red;
      vertical-align: top;
      margin-left: 8px;
      position: relative;
      .comment-area {
        display: block;
        border: none;
        background-color: var(--medium);
        width: 326px;
        border-radius: 16px;
        font-size: 15px;
        padding: 8px 12px;
        resize: none;
        outline: none;
        user-select: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        color: var(--lightest);
        &.shadow {
          background-color: transparent;
          position: absolute;
          top: 0;
          left: 0;
        }

        .comment-button-wrap {
          position: absolute;
          top: 100%;
          background-color: var(--medium);
          width: 50px;
          height: 25px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          border: 1px solid var(--darker);
          border-top: none;
          text-align: center;
          font-size: 8px;
          color: var(--lightest);

          .comment-button {
            font-size: 10px;
            background-color: transparent;
            width: fit-content;
            margin: 0 auto;
            padding: 0px 4px;
            border-radius: 3px;
            cursor: pointer;
            color: var(--link1);
            &:hover {
              color: var(--link2);
            }
          }
        }
      }
    }
  }

  .comments-filter-profile {
    height: 39px;
    position: relative;
    display: block;
    z-index: 2;

    .header-hr {
      height: 1px;
      width: 394px;
      background-color: var(--medium2);
      bottom: 0;
      left: 13px;
      position: absolute;
    }

    .comments-filter {
      background-color: transparent;
      line-height: 20px;
      font-size: 16px;
      position: absolute;
      width: fit-content;
      top: 10px;
      left: 10px;
      z-index: 1;
      .filter-name {
        color: var(--link2);
        cursor: pointer;
        text-shadow: 1px 1px 1px var(--darker);
        .name {
          display: inline-block;
          width: 60px;
        }
        &.open {
          color: var(--link1);
          cursor: default;
        }
      }
      .filter-popup-wrap {
        background-color: var(--darker);
        padding: 8px 0;
        margin-left: -9px;
        border-radius: 8px;
        border: 1px solid var(--dark);
        -webkit-box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
        -moz-box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
        box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
        animation: popup 0.2s;

        .filter-popup {
          cursor: pointer;
          color: var(--light);
          padding: 2px 8px;
          .name {
            display: inline-block;
            width: 60px;
          }
          &:hover {
            background-color: var(--medium);
            color: var(--link2);
          }
        }
      }
    }

    .refresh-icon {
      position: absolute;
      right: 8px;
      top: 8px;
      cursor: pointer;
      color: var(--link2);
      &:hover {
        color: var(--link1);
      }
      svg {
        width: 20px;
        height: 20px;
      }
      &.syncing {
        animation: rotation-sync-profile 0.4s infinite linear;
      }
    }
  }
}

@keyframes rotation-sync-profile {
  0% {
    transform: rotate(359deg) scale(1);
    color: var(--link2);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
    color: var(--link1);
  }
  100% {
    transform: rotate(0deg) scale(1);
    color: var(--link2);
  }
}
