input,
button {
  margin-bottom: 0.4rem;
}

button.switch {
  background: transparent;
  color: #03a9fc;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.notifications {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

.notifications span {
  display: block;
  padding: 3px 15px 5px 15px;
  background: #234465;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 5px;
  width: fit-content;
  text-align: center;
  text-shadow: 0.5px 0.5px 0px #102438;
  cursor: pointer;
}
