.home-filters-wrap {
  margin-top: 8px;
  margin-bottom: 12px;
}

.home-filters-wrap .home-filter {
  display: inline-block;
  background-color: var(--medium2);
  color: var(--lightest);
  width: 308px;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

.home-filters-wrap .home-filter:hover {
  border: 1px solid var(--medium);
}

.home-filters-wrap .home-filter:not(:first-child) {
  margin-left: 4px;
}

.home-filters-wrap .home-filter.inactive {
  background-color: var(--medium);
  color: var(--light);
}

.home-filters-wrap .home-filter.inactive:hover {
  border: 1px solid var(--medium2);
}

.horizontal-container-wrapper {
  max-width: 656px;
  position: relative;
  margin-top: 5px;
}

.horizontal-container-wrapper:after {
  content: '';
  position: absolute;
  top: 29px;
  right: 0;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(90%, var(--darker)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--darker) 90%);
  width: 14px;
  height: 240px;
}

.horizontal-container-wrapper .wrapper-title {
  font-size: 20px;
  color: var(--light);
  padding-bottom: 5px;
  padding-left: 5px;
  position: relative;
}

.horizontal-container-wrapper .container-wrap {
  position: relative;
}

.horizontal-container-wrapper .container-wrap .horizontal-container {
  display: table-cell;
  max-width: 656px;
  position: relative;
  overflow-x: scroll;
  padding-bottom: 4px;
  /* height */
  /* Track */
  /* Handle */
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card {
  -webkit-box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
  box-shadow: 0 1px 4px var(--shadow1), 0 0 40px var(--shadow2);
  vertical-align: top;
  width: 140px;
  height: 240px;
  display: inline-block;
  margin-left: 8px;
  text-align: center;
  background-color: var(--dark);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card:hover {
  background-color: var(--medium);
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card:first-child {
  margin-left: 0;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card.goto:hover .view-more-icon svg {
  color: var(--lightest);
  width: 80px;
  height: 80px;
  margin-top: 0;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card.goto:hover .view-more-btn {
  color: var(--lightest);
  font-size: 18px;
  font-weight: bold;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card.goto .view-more-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  background-color: var(--medium);
  border-radius: 50%;
  text-align: center;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card.goto .view-more-icon svg {
  color: var(--light);
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card.goto .view-more-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 42px));
          transform: translate(-50%, calc(-50% + 42px));
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  border-radius: 16px;
  color: var(--light);
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .card-friends-linked {
  position: absolute;
  top: 65px;
  right: 30px;
  width: 28px;
  height: 28px;
  background: #1e58d2;
  background: -webkit-gradient(linear, left bottom, left top, from(#1e58d2), to(#90d0fc));
  background: linear-gradient(360deg, #1e58d2 0%, #90d0fc 100%);
  border-radius: 50%;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .card-friends-linked svg {
  width: 19px;
  height: 19px;
  color: var(--lightest);
  margin-top: 5px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .card-request-from {
  position: absolute;
  top: 65px;
  right: 30px;
  width: 28px;
  height: 28px;
  background: #1e58d2;
  background: -webkit-gradient(linear, left bottom, left top, from(#1e58d2), to(#90d0fc));
  background: linear-gradient(360deg, #1e58d2 0%, #90d0fc 100%);
  border-radius: 50%;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .card-request-from svg {
  width: 19px;
  height: 19px;
  color: var(--lightest);
  margin-top: 5px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .card-request-to {
  position: absolute;
  top: 65px;
  right: 30px;
  width: 28px;
  height: 28px;
  background: #1e58d2;
  background: -webkit-gradient(linear, left bottom, left top, from(#1e58d2), to(#90d0fc));
  background: linear-gradient(360deg, #1e58d2 0%, #90d0fc 100%);
  border-radius: 50%;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .card-request-to svg {
  width: 19px;
  height: 19px;
  color: var(--lightest);
  margin-top: 5px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .card-notification {
  width: 6px;
  height: 6px;
  background-color: var(--link1);
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 50%;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .rating-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 30px));
          transform: translate(-50%, calc(-50% + 30px));
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .rating-wrap svg {
  width: 16px;
  height: 16px;
  color: var(--link1);
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .rating-wrap .rating {
  color: var(--light);
  font-size: 12px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .location {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 70px));
          transform: translate(-50%, calc(-50% + 70px));
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--medium2);
  color: var(--lightest);
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 16px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .location svg {
  width: 14px;
  height: 14px;
  margin-bottom: 2px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .date {
  position: absolute;
  left: 50%;
  bottom: 6px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 140px;
  font-size: 12px;
  color: var(--light);
}

.horizontal-container-wrapper .container-wrap .horizontal-container .card-wrap .user-card .name {
  color: var(--lightest);
  font-weight: bold;
  font-size: 14px;
  margin-top: 4px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container::-webkit-scrollbar {
  height: 6px;
}

.horizontal-container-wrapper .container-wrap .horizontal-container::-webkit-scrollbar-track {
  background-color: var(--darker);
}

.horizontal-container-wrapper .container-wrap .horizontal-container::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: transparent;
}

.horizontal-container-wrapper .container-wrap .horizontal-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll2) !important;
}

.horizontal-container-wrapper .container-wrap .horizontal-container:hover::-webkit-scrollbar-thumb {
  background-color: var(--scroll1);
}
/*# sourceMappingURL=home.css.map */