@media only screen and (max-width: 600px) {
  article.w3-right {
      display: none;
  }
  #about > article.w3-col.m6.w3-padding-large.w3-hide-small {
      display: none;
  }
  #about > article:nth-child(2) {
      width: 100%
  }

  #menu {
      display: flex;
      flex-direction: column;
  }

  #menu > article {
      width: 100%;
  }
}
